<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<body>
    <div class="container2">
        <h1>Update Absence</h1>
        <form action="{% url 'updateAbsRec' mem.id %}" method="post">
            {% csrf_token %}
             
            <label for="">ID Student</label><br><br>
            <input type="number" name="id_etudiant" value="{{mem.id_etudiant}}"><br><br>

            <label for="">ID Cour</label><br><br>
            <input type="number" name="id_cours" value="{{mem.id_cours}}"><br><br>

            <label for="">number  absence</label><br><br>
            <input type="text" name="heure" value="{{mem.nombre_heures_absence}}"><br><br>
            
            <label for="">Last Name</label><br><br>
            <input type="text" name="date" value="{{mem.date_absence}}"><br><br>
            
            <button type="submit" id="new1">Update</button>
        </form>

    </div>
</body>

</html>