<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<body>
    <div class="container2">
        <h1>Update Student</h1>
        <form action="{% url 'updateEtuRec' mem.id_etudiant %}" method="post">
            {% csrf_token %}
            <label for="">ID Student</label><br><br>
            <input type="number" name="id" value="{{mem.id_etudiant}}"><br><br>
            <label for="">First name</label><br><br>
            <input type="text" name="first" value="{{mem.nom}}"><br><br>
            <label for="">Last Name</label><br><br>
            <input type="text" name="last" value="{{mem.prenom}}"><br><br>
            <button type="submit" id="new1">Update</button>
        </form>

    </div>
</body>

</html>